.overview-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "header header header header"
    "sidebar main main main"
    "footer footer footer footer";
    height: 100vh;
    padding: 0 1.25rem;

    .header {
        grid-area: header;
        display: flex;
        justify-content: space-between;
        margin-top: 1.25rem;
    }

    .overview--icon-wrapper {
        padding-right: 1.875rem;
        svg {
            transform: scale(1.7);
            padding: 0 1.125rem;
            color: $iconColor;
        }
    }

    .main {
        grid-area: main;
    }

    .sidebar {
        grid-area: sidebar;
        display: flex;
        flex-direction: column;
        margin-top: 2.5rem;

        a {
            color: #fff;
            font-size: 1.125rem;
            text-decoration: none;
            padding: .6875rem 0px;
        }
    }

    .footer {
        grid-area: footer;
        display: flex;
        align-items: flex-end;
        padding-bottom: .9375rem;

        a, span {
            padding-right: 2.1875rem;
            color: $iconColor;
            line-height: 1.8125rem;
        }

        img {
            margin-right: 7.5rem;
            max-width: 6.875rem;
        }
    }
}