$background: #181818;
$brandPrimary: #9c5eeb;
$brandSecondary: #333b3e;
$iconColor: #5e5e5e;
$darkBackground: #131315;
$textColor: #d9d9d9;
$moduleColor: #1e2022;

$mediaMinTables: 769px;
$mediaMinDesktop: 1024px;
