@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

@import './inputs.scss';

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: $background;
    font-size:10px;
    position: relative;
    margin: 0;
}

.container {
    max-width: 87.5rem;
    margin: 0 auto;
}

#app {
    position: relative;

    &:before {
        content: '';
        background-image: url('~@/assets/background.png');
        width: 100%;
        height: 12.5rem;
        display: inline-block;
        position: absolute;
        bottom: 11.25rem;
    }
}

span, p {
    font-size: .875rem;
    color: #fff;
}

 a {
     color: #fff;
     text-decoration: none;
     font-size: .875rem;
 }

 h6 {
     font-size: 1.125rem;
 }