@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

@import './components/form.scss';

html {
  font-size: 10px;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: $background;
}
